@use "global" as *;

.about__body {
    position: relative;
    margin-top: rem(27);
    max-width: rem(600);
    margin-inline: auto;
    @include mq(md){
        max-width: 100%;
        margin-top: rem(40);
    }
}
.about__body--offset {
    position: relative;
}

.about__body:after {
    @include mq(md){
        content: "";
        display: block;
        background-image: url(../images/common/sango.png);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
         right: calc(50% - min(48vw,rem(638)));
         bottom: rem(-87);
         width: rem(194);
         height: rem(181);
         z-index: 9;
    }
}

.about__body--offset::after {
    @include mq(md){
        content: "";
       background-image: none;
    }
}

 .about__image-container {
     padding-top: rem(25);
     width: 82%;
     max-width: rem(600);
     margin-left: auto;
     @include mq(md){
        max-width: 81%;
        padding-top: rem(80);
    }
 }

 .about__image-container--layout {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
    @include mq(md){
       width: 82%;
       margin-left: auto;
    }
}

.about__image-container-sub {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 37%;
    aspect-ratio: 128 /194;
     @include mq(md){
        width: 37%;
        object-fit: cover;
      }
}

 .about__text-group {
    margin-top: rem(40);
     @include mq(md){
        position: absolute;
        z-index: 10;
        right: rem(37);
        bottom: 32%;
        display: flex;
        gap: rem(40);
        aspect-ratio: 840 / 242;
     }
 }

 .about__title {
     font-family: $third-font-family;
     font-weight: $regular;
     font-size: rem(40);
     line-height: calc(40/40);
     color: $green-accent;
     @include mq(md){
         margin-top: rem(-2);
         font-size: rem(80);
         line-height: calc(100/80);
         color: $white;
     }
 }

.about__title--absolute {
    position: absolute;
    top: rem(24);
    left: rem(24);
    color: $white;
    @include mq(md){
       position: static;
    }
}

 .about__text {
     font-family: $base-font-family;
     font-weight: $regular;
     font-size: rem(16);
     line-height: calc(24/16);
     color: $green;
     margin-top: rem(16);
     @include mq(md){
        max-width: rem(400);
        color: $white;
        margin-top: rem(-6);
     }
 }

 .about__text--layout {
    @include mq(md){
        margin-top: rem(22);
    }
 }

.about__btn {
     margin-top: rem(26);
     @include mq(md){
       margin-top: rem(41);
     }
}

.about__sp-visibility {
    visibility: hidden;
    @include mq(md){
        visibility: visible;
    }
}




