@use "global" as *;

.about__inner {
    max-width: rem(600);
    padding-left: $padding-sp;
    padding-right: $padding-sp;
    margin-inline: auto;
    @include mq(md){
        max-width: rem(1130);
        padding-left: $padding-pc;
        padding-right: $padding-pc;
    }
}

.about__body {
    position: relative;
    margin-top: rem(30);
    @include mq(md){
        margin-top: rem(40);
    }
}

 .about__image-container {
     padding-top: rem(25);
     width: 82%;
     max-width: rem(600);
     margin-left: auto;
     @include mq(md){
        max-width: rem(880);
        padding-top: rem(80);
    }
 }

.about__image-container-sub {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 37%;
    aspect-ratio: 128 /194;
     @include mq(md){
        width: 37%;
        object-fit: cover;
      }
}

.about__image3 {
    position: absolute;
    @include mq(md){
        right: calc(50% - min(48vw,638px));
        bottom: rem(-94);
        width: rem(194);
        z-index: 9;
    }
}

 .about__text-group {
    margin-top: rem(40);
     @include mq(md){
        position: absolute;
        z-index: 10;
        right: rem(54);
        bottom: 33%;
        display: flex;
        gap: rem(40);
        aspect-ratio: 840 / 242;
     }
 }

 .about__title {
     font-family: $third-font-family;
     font-weight: $regular;
     font-size: rem(40);
     line-height: calc(40/40);
     color: $green-accent;
     @include mq(md){
         margin-top: rem(-2);
         font-size: rem(80);
         line-height: calc(100/80);
         color: $white;
     }
 }

 .about__text {
     font-family: $base-font-family;
     font-weight: $regular;
     font-size: rem(16);
     line-height: calc(24/16);
     color: $green;
     margin-top: rem(16);
     @include mq(md){
        max-width: rem(388);
        color: $white;
        margin-top: 0;
     }
 }

.about__btn {
     margin-top: rem(26);
     @include mq(md){
       margin-top: rem(41);
     }
}

.about__sp-visibility {
    visibility: hidden;
    @include mq(md){
        visibility: visible;
    }
}