@use "global" as *;

.accordion__items {
    display: grid;
    grid-template-columns: 100%;
    gap: rem(40);

    @include mq(md) {
        width: 100%;
    }
}

.accordion__header {
    display: flex;
    align-items: center;
    font-size: rem(16);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $white;
    line-height: calc(23 / 16);
    background-color: $green-accent;
    padding-block: rem(16);
    padding-left: rem(16);
    cursor: pointer;
    position: relative;

    @include mq(md) {
        font-size: rem(20);
        line-height: calc(29 / 20);
        padding-top: rem(26);
        padding-bottom: rem(25);
        padding-left: rem(40);
    }
}

.accordion__header::before {
    position: absolute;
    content: "";
    top: 50%;
    right: rem(16);
    width: rem(28);
    height: rem(1);
    background-color: $white;
    transform: rotate(0);
    transition: all .3s ease-in-out;

    @include mq(md) {
        right: rem(40);
        width: rem(32);
    }
}

.accordion__header::after {
    position: absolute;
    content: "";
    top: 50%;
    right: rem(16);
    width: rem(28);
    height: rem(1);
    background-color: $white;
    transition: all .3s ease-in-out;

    @include mq(md) {
        right: rem(40);
        width: rem(32);
    }
}

.accordion__header.is-open::before {
    transform: rotate(90deg);
}

.accordion__content {
    display: flex;
    align-items: center;
    font-size: rem(16);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $green;
    line-height: calc(23 / 16);
    padding-block: rem(23);
    padding-inline: rem(16);
    border: 1px solid $green-accent;
    display: none;

    @include mq(md) {
        padding: rem(39);
        margin-top: rem(16);
    }
}