@use "global" as *;

.blog-card {
    display: block;
    box-shadow: 2px 2px 10px 0px rgb(0, 0, 0, 0.25);
    padding: rem(16) rem(16) rem(24);
    background-color: $white;
    transition: opacity 0.4s;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;

    @include mq(md) {
        padding: rem(14) rem(16) rem(24) rem(16);
    }
}

.blog-card__img {
    overflow: hidden;
}

.blog-card__img img {
    display: block;
    aspect-ratio: 301 / 201;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease 0s;
}

@media (any-hover: hover) {
    .blog-card:hover .blog-card__img img {
        transform: scale(1.2);
        opacity: 0.6;
    }
}

.blog-card__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    padding-top: rem(24);
}

.blog-card__date {
    font-family: $third-font-family;
    font-weight: $regular;
    font-size: rem(12);
    line-height: calc(18/12);
    color: $green;
}

.blog-card__title {
    font-family: $base-font-family;
    font-weight: $medium;
    font-size: rem(16);
    line-height: calc(24/16);
    color: $green;
    border-bottom: rem(1) solid $green-accent;
    padding-bottom: rem(4);
    margin-bottom: rem(16);
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.blog-card__text {
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(16);
    line-height: calc(24/16);
    color: $green;
    padding: 0 rem(1);
}