@use "global" as *;

.blog {
    position: relative;
}

.blog::before {
    @include mq(md){
            content: "";
            background-image: url(../images/common/blog_img_bg.jpg);
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            width: 100%;
            height: rem(500);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

.inner.blog__inner {
    max-width: rem(600);
    padding-left: $padding-sp;
    padding-right: $padding-sp;
    margin-inline: auto;
    @include mq(md){
        max-width: rem(1130);
        padding-left: $padding-pc;
        padding-right: $padding-pc;
    }
}

.blog__img {
    @include mq(md){
        position: absolute;
        top: rem(24);
        left: calc(50% - min(48vw,621px));
        width: rem(437);
        height: auto;
    }
}

.blog__contents {
    margin-top: rem(27);
    display: grid;
    gap: rem(40);
    grid-template-columns: repeat(1,1fr);
    place-items: center;
    @include mq(md){
        grid-template-columns: repeat(3,1fr);
        margin-top: rem(82);
    }
}

.blog__btn {
    margin-top: rem(38);
    @include mq(md){
        margin-top: rem(80);
    }
}