@use "global" as *;

.button {
    cursor: pointer;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

//ボタンの基本コード
.button {
    position: relative;
    right: rem(3);
    z-index: 3;
    border: rem(1) solid $green-accent;
    color: $green-accent;
    display: block;
    font-weight: $regular;
    max-width: rem(202);
    padding: rem(15) rem(40);
    margin-inline: auto;
    z-index: 1;
    font-size: rem(14);
    font-family: $third-font-family;
}

.button.slide::before {
    content: "";
    position: absolute;
    inset: rem(2) rem(-5) rem(-6) rem(3);
    border: 1px solid $green-accent;
    z-index: -1;
}

//矢印追加
.button span {
    position: relative;
    z-index: 3;
    display: inline-block;
 }

 .button span::after {
    content: "";
    position: absolute;
    top: -20%;
    left: 108%;
    bottom: 0;
    width: rem(40);
    height: rem(8);
    margin: auto;
    border-right: rem(1) solid $white;
    border-bottom: rem(1) solid $white;
    transform: skew(45deg);
    transition: .2s;
    box-sizing: border-box;
  }

  .button:hover span::after {
    border-color: $green-accent;
  }

//スライド
 .button.slide {
     background: $green-accent;
     color: $white;
     position: relative;
     z-index: 1;
     overflow: visible;
 }

 .button.slide::after {
     background: $white;
     position: absolute;
     top: 0;
     left: 0;
     content: "";
     width: 100%;
     height: 100%;
     transform: scale(0,1);
     transform-origin: left top;
     transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
     z-index: -1;
 }

 .button.slide:hover {
     color: $green-accent;
 }

 .button.slide:hover::after {
     transform: scale(1,1);
 }
