@use "global" as *;

div.colorbox {
    position: relative;
    max-width: rem(600);
}

div.colorbox div.color {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $green-accent;
}

div.colorbox img {
    display: block;
    width: 100%;
}