@use "global" as *;

.footer-nav__contents {
    display: flex;
    gap: rem(11);
    justify-content: center;

    @include mq(md) {
        justify-content: flex-start;
        flex-direction: initial;
        gap: rem(121);
    }
}

.footer-nav__flex {
    display: flex;
    flex-direction: column;
    gap: rem(40);
    padding-left: rem(4);

    @include mq(md) {
        flex-direction: initial;
        gap: rem(117);
        padding-left: 0;
    }
}

.footer-nav__flex--layout {
    @include mq(md) {
        gap: rem(143);
    }
}

.footer-nav__flex:not(:first-child) {
    @include mq(md) {
        margin-left: rem(112);
    }
}

.footer-nav__group {
    width: rem(168);
    display: flex;
    flex-direction: column;
    gap: rem(40);

    @include mq(md) {
        width: auto;
    }
}

.footer-nav__wrapper {
    display: flex;
    flex-direction: column;
}

.footer-nav__wrapper:first-child {
    @include mq(md) {
        margin-top: 0;
    }
}

.footer-nav__title {
    position: relative;
    font-family: $base-font-family;
    font-weight: $bold;
    font-size: rem(16);
    line-height: calc(18/16);
    color: $white;
    display: flex;
    flex-grow: 1;
    transition: opacity 0.4s;
}

@media (any-hover: hover) {
    .footer-nav__title:hover {
        opacity: 0.7;
    }
}

.footer-nav__title--color {
    color: $green;
}

.footer-nav__title::before {
    content: "";
    display: inline-block;
    background-image: url(../images/common/hitode.png);
    width: rem(18);
    height: rem(18);
    background-size: contain;
    vertical-align: middle;
}

.footer-nav__title--color::before {
    content: "";
    display: inline-block;
    background-image: url(../images/common/hitode-black.png);
    width: rem(18);
    height: rem(18);
    background-size: contain;
    vertical-align: middle;
}

.footer-nav__title a {
    margin-left: rem(4);
    flex-grow: 1;
}

.footer-nav__lists {
    padding-left: rem(23);
    display: flex;
    flex-direction: column;
    gap: rem(24);
    margin-top: rem(24);
}

.footer-nav__list {
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(16);
    line-height: calc(18/16);
    color: $white;
    transition: opacity 0.4s;
    @include mq(md){
    }
}

@media (any-hover: hover) {
    .footer-nav__list:hover {
        opacity: 0.7;
    }
}

.footer-nav__list--color {
    color: $green;
}