@use "global" as *;

.gallery {
  position: relative;
}

.gallery::before {
  @include mq(md) {
    content: "";
    background-image: url(../images/common/fish_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    width: rem(301);
    height: rem(138);
    top: rem(-80);
    right: calc(50% - min(48vw, rem(640)));
  }
}

.gallery__contents {
  display: grid;
  margin-top: rem(40);
  gap: rem(8);
  cursor: pointer;

  @include mq(md) {
    margin-top: rem(82);
    grid-auto-flow: dense;
    grid-template-columns: 492fr 80fr 492fr;
    grid-auto-rows: rem(369);
  }
}

.gallery__image:nth-child(6n+1),
.gallery__image:nth-child(6n+6){
  @include mq(md) {
    grid-row: span 2;
    grid-column: span 1;
  }
}

.gallery__image {
  @include mq(md) {
    grid-row: span 1;
    grid-column: span 2;
  }
}

.gallery__contents img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__image {
  transition: 0.3s;
}

 .gallery__image:hover {
   opacity: 0.6;
 }