@use "global" as *;

.header.is-dark {
    background-color: $gray4;
}

.header.is-open {
    background-color: $green-accent;
}

.header {
    height: rem(80);
    background-color: rgba($green, $alpha: 0.68);
    z-index: 1000;
    position: fixed;
    width: 100%;
    transition: 0.3s;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease;

    @include mq(md) {
        height: rem(90);
    }
}

.header__inner {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(13);

    @include mq(md) {
        padding-left: rem(36);
        padding-right: rem(41);
    }
}

.header__drawer {
    @include mq(md) {
        display: none;
    }
}

.header__pc-nav {
    display: none;

    @include mq(md) {
        height: inherit;
        display: block;
    }
}

.header__title {
    margin-top: rem(6);

    @include mq(md) {
        margin-top: rem(8);
    }
}

.header__logo-link {
    height: inherit;
    display: block;
    position: relative;
    z-index: 9999;
    width: rem(107);

    @include mq(md) {
        width: rem(140);
    }
}