@use "global" as *;

.information {
    padding: rem(80) 0 rem(86);
    background-color: $green2;

    @include mq(md) {
        padding: rem(100) 0 rem(77);
    }
}

.information__contents {
    max-width: rem(600);
    margin-inline: auto;

    @include mq(md) {
        max-width: 100%;
        display: flex;
        gap: rem(48);
        margin-top: rem(40);
    }
}

.information__section-header {
    @include mq(md) {
        padding-right: rem(4);
    }
}

.information__image {
    position: relative;
    width: 100%;
    margin-top: rem(27);

    @include mq(md) {
        margin-top: rem(0);
    }
}

.information__image img {
    max-width: rem(600);
    aspect-ratio: 345 / 227;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include mq(md) {
        aspect-ratio: 540 / 356;
    }
}

.information__body {
    margin-top: rem(25);

    @include mq(md) {
        max-width: 46%;
        width: 100%;
        margin-top: rem(61);
    }
}

.information__title {
    font-family: $base-font-family;
    font-weight: $bold;
    font-size: rem(20);
    line-height: calc(24/24);
    color: $green;
    border-bottom: rem(1) solid $green-accent;
    padding-bottom: rem(4);

    @include mq(md) {
        font-size: rem(24);
        padding-bottom: rem(6);
    }
}

.information__text {
    margin-top: rem(8);
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(16);
    line-height: calc(24/16);
    color: $green;

    @include mq(md) {
        padding-right: rem(2);
        max-width: 99%;
    }
}

.information__btn {
    margin-top: rem(65);

    @include mq(md) {
        margin-top: rem(41);
    }
}