@use "global" as *;

  .modal {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
    background: rgba($gray2, 80%);
    transition: opacity 0.3s, visibility 0.3s;
  }


  .modal.is-open {
    visibility: visible;
    opacity: 1;
  }

  .modal__content {
    left: 50%;
    position: absolute;
    text-align: right;
    top: 50%;
    transform: translate(-50%, -50%);
    width: rem(345);
    @include mq(md){
        width: rem(920);
    }
  }
  .modal__content--width {
    @include mq(md){
        width: rem(550);
    }
  }

  .fixed {
    position: fixed;
    width: 100%;
    overflow: hidden;
  }
