@use "global" as *;

.page-price {
    position: relative;
}

.page-price::before {
    content: "";
    background-image: url(../images/common/fish_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: rem(120);
    height: rem(55);
    top: rem(-25);
    left: calc(50% - min(48vw, rem(308)));
    z-index: -1;

    @include mq(md) {
        width: rem(301);
        height: rem(138);
        top: rem(-76);
        left: calc(50% - min(48vw, rem(619)));
    }
}
.page-price__inner.inner {
    @include mq(md) {
        max-width: 700px + strip-unit($padding-pc) * 2;
    }
}
.page-price__contents {
    margin-inline: auto;
    display: grid;
    gap: rem(40);

    @include mq(md) {
        gap: rem(75);
    }
}

.page-price__group {
    border: 1px solid $green-accent;
    overflow: hidden;

    @include mq(md) {
        display: grid;
        grid-template-columns: rem(200) 1fr;
        border-top: none;
    }
}

.page-price__title {
    background-color: $green-accent;
    font-size: rem(16);
    font-weight: $bold;
    font-family: $base-font-family;
    color: $white;
    line-height: calc(24 / 16);
    padding-top: rem(8);
    padding-bottom: rem(5);
    padding-left: rem(8);
    display: flex;
    align-items: center;
    gap: rem(8);
    justify-content: center;
    padding-right: rem(10);

    @include mq(md) {
        padding: 0;
        flex-direction: column-reverse;
    }
}

.page-price__title::before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: rem(24);
    height: rem(24);
    background-image: url(../images/common/whale-white.png);

    @include mq(md) {
        width: rem(64);
        height: rem(64);
    }
}

.page-price__item {
    display: grid;
    grid-template-columns: rem(239) auto;
    align-items: center;
    border-top: 1px solid $green-accent;

    @include mq(md) {
        grid-template-columns: rem(338) auto;
    }
}


.page-price__list,
.page-price__price {
    font-size: rem(16);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $green;
    line-height: calc(24 / 16);
    min-height: rem(60);
    padding: rem(6);
    @include mq(md) {
        min-height: rem(58);
    }
}

.page-price__list {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(md) {
        text-align: left;
        padding-left: rem(15);
        justify-content: flex-start;
    }
}

.page-price__price {
    padding-right: rem(16);
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: rem(10);
    border-left: 1px solid $green-accent;
    height: 100%;
}