@use "global" as *;

.page-about {
    position: relative;
    z-index: 1;
}

.page-about::before {
    content: "";
    background-image: url(../images/common/fish_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: rem(120);
    height: rem(55);
    top: rem(-24);
    left: calc(50% - min(48vw, rem(173)));
    z-index: 2;

    @include mq(md) {
        width: rem(301);
        height: rem(138);
        top: rem(-70);
        left: calc(50% - min(48vw, rem(621)));
    }
}

.page-about__section-header {
    margin-top: rem(40);
}