@use "global" as *;

.page-404 {
    position: relative;
    z-index: 1;
}

.page-404::before {
    content: "";
    background-image: url(../images/common/whale-big.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: rem(328);
    height: rem(293);
    top: rem(-53);
    left: calc(50% - min(48vw, rem(164)));
    z-index: 0;

    @include mq(md) {
        width: rem(665);
        height: rem(594);
        top: rem(-97);
        left: calc(50% - min(48vw, rem(520)));
    }
}

.page-404__container {
    text-align: center;
    position: relative;
    z-index: 1;
}

.page-404__heading {
    font-size: rem(80);
    font-weight: $medium;
    font-family: $fourth-font-family;
    color: $white;
    line-height: calc(96 / 80);
    letter-spacing: 0.5em;
    text-indent: rem(40);

    @include mq(md) {
        font-size: rem(160);
        line-height: calc(192 / 160);
        text-indent: rem(80);
    }
}

.page-404__text {
    font-size: rem(16);
    font-weight: $regular;
    font-family: $fourth-font-family;
    color: $white;
    line-height: calc(24 / 16);
    margin-top: rem(-3);

    @include mq(md) {
        margin-top: rem(24);
    }
}

.page-404__button {
    margin-top: rem(40);
    text-indent: rem(-27);

    @include mq(md) {
        margin-top: rem(80);
    }
}