@use "global" as *;

.page-thanks {
    position: relative;
}

.page-thanks::before {
    content: "";
    background-image: url(../images/common/fish_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: rem(120);
    height: rem(55);
    top: rem(-22);
    left: calc(50% - min(48vw, rem(173)));
    z-index: -1;

    @include mq(md) {
        width: rem(301);
        height: rem(138);
        top: rem(-70);
        left: calc(50% - min(48vw, rem(621)));
    }
}

.page-thanks__text-block {
    text-align: center;
}

.page-thanks__text-item {
    font-size: rem(16);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $green;
    line-height: calc(18 / 16);
}

.page-thanks__text-item02 {
    line-height: calc(23  / 16);
}

.page-thanks__text-item:not(:first-child) {
    margin-top: rem(39);
}