@use "global" as *;

.page-faq {
    position: relative;
}

.page-faq::before {
    content: "";
    background-image: url(../images/common/fish_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: rem(120);
    height: rem(55);
    top: rem(-23);
    left: calc(50% - min(48vw, rem(173)));
    z-index: -1;

    @include mq(md) {
        width: rem(301);
        height: rem(138);
        top: rem(-70);
        left: calc(50% - min(48vw, rem(621)));
    }
}
.page-faq__inner.inner {
    @include mq(md) {
        max-width: 700px + strip-unit($padding-pc) * 2;
    }

}

.page-faq__content {
    margin-inline: auto;
}