@use "global" as *;

.page-sitemap {
    position: relative;
}

.page-sitemap::before {
    content: "";
    background-image: url(../images/common/fish_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: rem(120);
    height: rem(55);
    top: rem(-24);
    left: calc(50% - min(48vw, rem(172)));
    z-index: -1;

    @include mq(md) {
        width: rem(301);
        height: rem(138);
        top: rem(-103);
        left: calc(50% - min(48vw, rem(800)));
    }
}