@use "global" as *;

.pc-nav__items {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(40);
}

.pc-nav__item {
    height: inherit;
    text-align: center;
    display: flex;
    align-items: center;
}

.pc-nav__link {
    height: inherit;
    font-family: $third-font-family;
    font-weight: $regular;
    font-size: rem(18);
    color: $white;
    padding: 0;
    line-height: calc(18/18);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (any-hover: hover) {
    .pc-nav__link:hover {
        color: $white;
    }

    .pc-nav__link:hover::after {
        transform: scale(1, 1);
    }
}

.pc-nav__link::after {
    content: "";
    position: absolute;
    bottom: rem(20);
    width: 100%;
    height: rem(1);
    background: $white;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
}

.pc-nav__subtitle {
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(10);
    line-height: calc(15/10);
    margin-top: rem(4);
}