@use "global" as *;

.price {
    padding: rem(80) 0 rem(85);
    background-color: $green2;

    @include mq(md) {
        position: relative;
        padding: rem(100) 0 rem(105);
    }
}

.price:after {
    @include mq(md) {
        content: "";
        position: absolute;
        display: block;
        background-image: url(../images/common/fish_3.png);
        background-repeat: no-repeat;
        background-size: cover;
        bottom: rem(60);
        left: rem(100);
        width: rem(437);
        height: rem(201);
        left: calc(50% - min(48vw, rem(619)));
    }
}

.price__section-header {
    @include mq(md) {
        margin-left: rem(-6);
    }
}

.price__contents {
    display: flex;
    flex-direction: column-reverse;
    max-width: rem(600);
    margin-inline: auto;
    margin-top: rem(28);

    @include mq(md) {
        max-width: initial;
        gap: rem(96);
        width: 100%;
        flex-direction: row;
        margin-top: rem(40);
    }
}

.price__content {
    @include mq(md) {
        width: 104%;
    }
}

.price__list {
    margin-top: rem(39);

    @include mq(md) {
        margin-top: 0;
        align-items: flex-start;
    }
}

.price__list:not(:first-child) {
    @include mq(md) {
        margin-top: rem(40);
    }
}

.price__term {
    font-family: $base-font-family;
    font-weight: $bold;
    font-size: rem(16);
    line-height: calc(24/16);
    color: $green;
    border-bottom: rem(1) solid $green-accent;
    padding-bottom: rem(4);
}

.price__wrap {
    margin-top: rem(8);
    display: flex;
    justify-content: space-between;
}

.price__description {
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(14);
    line-height: calc(24/14);
    color: $green;
    padding-right: rem(1);

    @include mq(md) {
        font-size: rem(16);
        line-height: calc(24/16);
    }
}

.price__description:not(:first-child) {
    margin-left: rem(10);
}

.price__image img {
    aspect-ratio: 345 / 227;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include mq(md) {
        aspect-ratio: 746 / 492;
        height: rem(746);
    }
}

.price__btn {
    margin-top: rem(40);

    @include mq(md) {
        margin-top: rem(82);
    }
}