@use "global" as *;

.section-header {
    text-align: center;
}

.section-header__title {
    font-family: $third-font-family;
    font-size: rem(32);
    line-height: calc(40/32);
    font-weight: $regular;
    color: $green;

    @include mq(md) {
        font-size: rem(40);
        line-height: calc(40/40);
    }
}

.section-header__title::first-letter {
    color: $green-accent;
}

.section-header__subtitle {
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(12);
    line-height: calc(18/12);
    color: $green-accent;
    margin-top: rem(4);

    @include mq(md) {
        margin-top: rem(6);
    }
}
.section-header__subtitle--layout {
    margin-top: rem(10);
}

.section-header__title--white {
    @include mq(md) {
        color: $white;
    }
}

.section-header__title--white::first-letter {
    @include mq(md) {
        color: $white;
    }
}

.section-header__subtitle--white {
    @include mq(md) {
        color: $white;
    }
}

.section-header__title--line-height {
    line-height: calc(32 / 32);
}