@use "global" as *;

.sidebar__items {
    padding-inline: rem(25);

    @include mq(md) {
        padding-inline: 0;
    }
}

.sidebar__items--inner {
    padding-inline: rem(40);
}

.sidebar__item:not(:first-child) {
    margin-top: rem(82);
}

.sidebar__title {
    font-size: rem(24);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $green;
    line-height: calc(35 / 24);
    display: flex;
    align-items: center;
    gap: rem(8);
    justify-content: start;
    width: min(100%, rem(226));
    border-left: rem(8) solid $green-accent;
    padding-left: rem(16);
}

.sidebar__title::before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: rem(50);
    height: rem(50);
    background-image: url(../images/common/whale-dot.png);
}

.sidebar__article {
    margin-top: rem(24);
}

.sidebar__article-item {
    border: 1px solid $gray3;
    display: flex;
    gap: rem(16);
    padding: rem(16);
    box-shadow: rem(2) rem(2) rem(10) rgba($black, $alpha: 0.25);
}

.sidebar__article-item:not(:first-child) {
    margin-top: rem(22);
}

.sidebar__article-image {
    overflow: hidden;
    width: 46%;
}

.sidebar__article-image img {
    display: block;
    aspect-ratio: 121 / 90;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease 0s;
}

@media (any-hover: hover) {
    .sidebar__article-item:hover .sidebar__article-image img {
        transform: scale(1.2);
        opacity: 0.6;
    }
}

.sidebar__article-textbox {
    margin-top: rem(-8);
    min-width: rem(112);
}


.sidebar__article-data {
    font-size: rem(12);
    font-weight: $regular;
    font-family: $third-font-family;
    color: $green;
    line-height: calc(18 / 12);
}

.sidebar__article-text {
    font-size: rem(16);
    font-weight: $medium;
    font-family: $base-font-family;
    color: $green;
    line-height: calc(23 / 16);
    margin-top: rem(2);

}

.sidebar__review {
    margin-top: rem(23);
}

.sidebar__review-image img {
    aspect-ratio: 294 / 218;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar__review-textbox {
    margin-top: rem(21);
}

.sidebar__review-age {
    font-size: rem(12);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $green;
    line-height: calc(12 / 18);
}

.sidebar__review-text {
    margin-top: rem(12);
    font-size: rem(24);
    font-weight: $medium;
    font-family: $base-font-family;
    color: $green;
    line-height: calc(35 / 24);
}

.sidebar__btn {
    margin-top: rem(40);
}

.sidebar__campaign-contents {
    margin-top: rem(24);
}

.sidebar__campaign-cards {
    display: grid;
    gap: rem(40);
}

.sidebar__campaign-card {
    box-shadow: rem(2) rem(1) rem(10) 0px rgb(0, 0, 0, 0.25);
}

.sidebar__campaign-card__img img {
    aspect-ratio: 294 / 188;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar__campaign-card__body {
    display: grid;
    height: 100%;
    padding: rem(16) rem(16) rem(24) rem(16);
}

.sidebar__campaign-card__title {
    margin-top: rem(4);
    font-family: $base-font-family;
    font-weight: $medium;
    font-size: rem(16);
    line-height: calc(24/16);
    color: $green;
    border-bottom: 1px solid $green-accent;
    padding-bottom: rem(8);
    text-align: center;
}

.sidebar__campaign-card__text {
    margin-top: rem(8);
    text-align: center;
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(14);
    line-height: calc(24/14);
    color: $green;
}

.sidebar__campaign-card__price {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: rem(8);
    gap: rem(10);
}

.sidebar__campaign-card__first-price {
    position: relative;
    font-family: $fourth-font-family;
    font-weight: $bold;
    font-size: rem(20);
    line-height: 1;
    color: $green;
}

.sidebar__campaign-card__first-price::after {
    content: "";
    position: absolute;
    border: rem(2) solid #C94800;
    width: rem(75);
    left: 0;
    top: 40%;
}

.sidebar__campaign-card__second-price {
    font-family: $fourth-font-family;
    font-weight: $bold;
    font-size: rem(32);
    line-height: 1;
    color: $green-accent;
}

.sidebar__archive {
    margin-top: rem(23);
}

.sidebar__archive-group {
    margin-top: rem(7);
}

.sidebar__archive-calendar,
.sidebar__archive-month {
    font-size: rem(24);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $green-accent;
    line-height: calc(35 / 24);
    display: flex;
    align-items: center;
    gap: rem(10);
    justify-content: start;
    cursor: pointer;
    transition: all 0.3s;
}

@media (any-hover: hover) {

    .sidebar__archive-calendar:hover,
    .sidebar__archive-month:hover {
        opacity: 0.6;
    }
}

.sidebar__archive-calendar::before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: rem(22);
    height: rem(18);
    background-image: url(../images/common/arrow-bottom.png);
    margin-top: rem(7);
    transition: all 0.3s;
}

.sidebar__archive-calendar.open::before {
    transform: rotate(-90deg);
}


.sidebar__archive-month::before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: rem(18);
    height: rem(22);
    background-image: url(../images/common/arrow-right.png);
}

.sidebar__archive-months {
    margin-top: rem(4);
    margin-left: rem(30);
    display: none;

}

.sidebar__archive-month:not(:first-child) {
    margin-top: rem(4);
}