@use "global" as *;

.sp-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: $green-accent;
    margin-top: rem(80);
}

.sp-nav.is-active {
    display: block;
}

.sp-nav__inner {
    padding-top: rem(25);
    padding-bottom: rem(50);
    box-sizing: border-box;
    overflow-y: auto;
    height: calc(100vh - 5rem);
}

.sp-nav__wrap {
    display: flex;
    justify-content: center;
}

.sp-nav__contents {
    display: flex;
    gap: rem(5);

}

.sp-nav__flex {
    display: flex;
    flex-direction: column;
    gap: rem(40);
}

.sp-nav__group {
    display: flex;
    flex-direction: column;
    gap: rem(40);
}

.sp-nav__container {
    flex-grow: 1;
}

.sp-nav__title {
    font-family: $base-font-family;
    font-weight: $bold;
    font-size: rem(16);
    line-height: calc(18/16);
    color: $white;
    display: flex;
    flex-grow: 1;
    transition: opacity 0.4s;
}

@media (any-hover: hover) {
    .sp-nav__title:hover {
        opacity: 0.7;
    }
}

.sp-nav__title::before {
    content: "";
    display: inline-block;
    background-image: url(../images/common/hitode.png);
    width: rem(18);
    height: rem(18);
    background-size: contain;
    vertical-align: middle;
}

.sp-nav__title a {
    margin-left: rem(4);
    flex-grow: 1;
}

.sp-nav__lists {
    margin-left: rem(22);
    display: flex;
    flex-direction: column;
    gap: rem(24);
}

.sp-nav__list {
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(16);
    line-height: calc(18/16);
    color: $white;
    transition: opacity 0.4s;
}

@media (any-hover: hover) {
    .sp-nav__list:hover {
        opacity: 0.7;
    }
}

.sp-nav__body {
    margin-top: rem(24);
}