@use "global" as *;

.tab {
    width: 100%;
}

.tab__list {
    display: flex;
    gap: rem(19);
    justify-content: center;
    cursor: pointer;

    @include mq(md) {
        gap: rem(90);
    }
}

.tab__button {
    width: rem(102);
    padding-block: rem(10);
    padding-inline: rem(16);
    box-shadow: rem(0) rem(4) rem(4) rgba($black, 0.25);
    background-color: $green2;
    font-size: rem(14);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $green-accent;
    line-height: calc(20 / 14);
    transition: color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;

    @include mq(md) {
        width: 100%;
        padding-block: rem(13);
        padding-inline: rem(16);
        font-size: rem(24);
        line-height: calc(35 / 24);
        display: flex;
        align-items: center;
        gap: rem(8);
        justify-content: center;
        width: min(100%, rem(300));
    }
}
@media (any-hover: hover) {
   .tab__button:hover {
    cursor: pointer;
    background-color: $green-accent;
    color: $white;
   }
}

.tab__button--whale::before,
.tab__button--shark::before,
.tab__button--small-fish::before {
    @include mq(md) {
        content: "";
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        width: rem(64);
        height: rem(64);
        transition: all 0.3s, color 0.3s;
    }
}

.tab__button--whale::before {
    background-image: url(../images/common/whale-green.png);
}

.tab__button--shark::before {
    background-image: url(../images/common/shark-green.png);
}

.tab__button--small-fish::before {
    background-image: url(../images/common/small-fish-green.png);
}

@media (any-hover: hover) {
    .tab__button--whale:hover::before {
        background-image: url(../images/common/whale-white.png);
    }
    .tab__button--shark:hover::before {
        background-image: url(../images/common/shark-white.png);
    }
    .tab__button--small-fish:hover::before {
        background-image: url(../images/common/small-fish-white.png);
    }
}

.tab__button.is-active {
    cursor: pointer;
    background-color: $green-accent;
    color: $white;
}

.tab__button--whale.is-active::before,
.tab__button--shark.is-active::before,
.tab__button--small-fish.is-active::before {
    @include mq(md) {
        content: "";
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        width: rem(64);
        height: rem(64);
    }
}

.tab__button--whale.is-active::before {
    background-image: url(../images/common/whale-white.png);
}

.tab__button--shark.is-active::before {
    background-image: url(../images/common/shark-white.png);
}

.tab__button--small-fish.is-active::before {
    background-image: url(../images/common/small-fish-white.png);
}

.tab__contents {
    margin-top: rem(16);

    @include mq(md) {
        margin-top: rem(24);
    }
}



.tab__content {
    border: 1px solid $green-accent;
    padding-block: rem(24);
    padding-inline: rem(24);
    display: none;
}

.tab__content.is-active {
    display: block;

    @include mq(md) {
        display: grid;
        gap: rem(48);
        grid-template-columns: calc(516 / 1080 * 100%) 1fr;
        align-items: center;
    }
}

.tab__title {
    border-bottom: 1px solid $green-accent;
    padding-bottom: rem(8);
    font-size: rem(24);
    font-weight: $bold;
    font-family: $base-font-family;
    color: $green;
    line-height: calc(24 / 24);
}

.tab__text {
    margin-top: rem(8);
    font-size: rem(16);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $black;
    line-height: calc(24 / 16);
    line-break: strict;

    @include mq(md) {
        max-width: rem(490);
    }
}

.tab__image {
    margin-top: rem(8);

    @include mq(md) {
        margin-top: 0;
    }
}

.tab__image img {
    aspect-ratio: 297 / 189;
    width: 100%;
    height: 100%;
    object-fit: cover;
}