@use "global" as *;

.voice {
    @include mq(md) {
        position: relative;
    }
}

.voice::after {
    @include mq(md) {
        content: "";
        display: block;
        background-image: url(../images/common/fish_2.png);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        top: rem(-120);
        left: calc(50% - min(48vw, rem(621)));
        width: rem(301);
        height: rem(138);
    }
}

.voice::before {
    @include mq(md) {
        display: block;
        content: "";
        background-image: url(../images/common/tatunootoshigo.png);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        bottom: rem(-71);
        right: calc(50% - min(48vw, rem(540)));
        width: rem(71);
        height: rem(162);
    }
}

.voice__contents {
    margin-top: rem(44);

    @include mq(md) {
        margin-top: rem(35);
    }
}

.voice-cards {
    display: grid;
    gap: rem(38);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;

    @include mq(md) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.voice-cards--layout {
    display: grid;
    gap: rem(40);
    grid-template-columns: 100%;
    @include mq(md){
       grid-template-columns: 1fr 1fr;
       gap: rem(80) rem(40);
    }
}

.voice__btn {
    margin-top: rem(39);

    @include mq(md) {
        margin-top: rem(81);
    }
}