@use "global" as *;

.voice-card {
    box-shadow: 2px 2px 10px 0px rgb(0, 0, 0, 0.25);
    padding: rem(16) rem(16) rem(25) rem(16);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include mq(md) {
        padding: rem(24);
    }
}

.voice-card__container {
    display: flex;
    align-items: flex-end;
    gap: rem(13);

    @include mq(md) {
        gap: rem(16);
    }
}

.voice-card__wrap {
    max-width: rem(149);
    width: 100%;
    flex-shrink: 0;
    border-bottom: rem(1) solid $green-accent;

    @include mq(md) {
        max-width: rem(276);
    }
}

.voice-card__group {
    align-items: flex-end;

    @include mq(md) {
        display: flex;
        justify-content: space-between;
    }
}

.voice-card__info {
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(12);
    line-height: calc(18/12);
    color: $green;
}

.voice-card__label {
    font-family: $base-font-family;
    color: $green-accent;
    font-weight: $regular;
    font-size: rem(12);
    line-height: calc(22/12);
    border: rem(1) solid $green-accent;
    padding: rem(3) rem(11);
    width: auto;
    display: inline-block;

    @include mq(md) {
        padding: rem(5) rem(15);
    }
}

.voice-card__title {
    font-family: $base-font-family;
    font-weight: $medium;
    font-size: rem(16);
    line-height: calc(23 / 16);
    color: $green;
    padding-bottom: rem(2);
    margin-top: rem(3);
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;

    @include mq(md) {
        font-size: rem(24);
        margin-top: rem(8);
        line-height: calc(35 / 24);
    }
}

.voice-card__img {
    flex-grow: 1;
}

.voice-card__img img {
    display: block;
    aspect-ratio: 151 / 117;
    width: 100%;
    height: auto;
    object-fit: cover;

    @include mq(md) {
        aspect-ratio: 180 / 140;
    }
}

.voice-card__text {
    margin-top: rem(16);
    font-family: $base-font-family;
    font-weight: $regular;
    font-size: rem(16);
    line-height: calc(24 / 16);
    color: $green;

    @include mq(md) {
        margin-top: rem(38);
        display: flex;
        flex-direction: column;
    }
}

.voice-card__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}